.dashboard {
  background: url('../images/banner2.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1 {
    font-size: 24px;
    color: #333; 
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    color: #666;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007BFF;
  }
  
  a:hover {
    text-decoration: underline;
  }
  