.cover_image {
  background-image: url('../images/banner2.jpg');
    background-size: cover;
    position: relative;
    background-position-y: center;
    height: 900px;
    margin-bottom: 1rem;
}

.buddy-container {
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .buddy-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .buddy-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .buddy-content a {
    text-decoration: none;
    color: #131415;
  }
  