
.mybike-container {
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .mybike-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .mybike-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .mybike-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .mybike-content ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .mybike-content a {
    text-decoration: none;
    color: #101112;
  }
  